.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0rem 2rem;
}
.section {
  margin-bottom: 4rem;
}

@media (max-width: 1024px) {
  .container {
    padding-inline: 2.5rem;
  }
}
