.accordion {
  list-style: none;
  color: black;
}
.accordionItem {
  border-bottom: 1px solid #d9d9d9;
}
.accordionTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1rem 0rem;

  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}
.accordionPanel {
  padding: 1.5rem 0rem;
}
